SECRET_KEY=aaa632e6e792aec1416535832b228ba2b2174459861bb012ecdfae81f146e869

DATABASE_URL=postgresql+psycopg://bloguser:blogpass@localhost/blog

MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=test_user
MAIL_PASSWORD=test_password
MAIL_FROM=noreply@fastapiblog.com
MAIL_USE_TLS=true
FRONTEND_URL=http://localhost:8000

PORT=8000